LOGIN_URL=gormerykombo@gmail.com
SESSION_TOKEN=eyJ0b2tlbklkIjoyMTQ3Njjndjndjfndfjbsfljgbgbsefigbsefihgbpsidfvbspidfjvbsdpfibvspijbsgpibnsdfpbibnsfepihj
API_URL=https://kkpqfuj-amager.tripletex.dev/v2
WEB_UI=https://kkpqfuj-amager.tripletex.dev/